LYZR_API_KEY=curl -X POST 'https://agent-prod.studio.lyzr.ai/v3/inference/chat/' \
            -H 'Content-Type: application/json' \
            -H 'x-api-key: sk-default-J3P3RhnIV7X0zMgZVc7U8Hj7Gy65YQFl' \
            -d '{
              "user_id": "mahendherp@pronixinc.com",
              "agent_id": "69ae8a5e02d449101273a2d1",
              "session_id": "69ae8a5e02d449101273a2d1-d142vwzcoqn",
              "message": ""
              }'
AGENT_ID=69ae8a5e02d449101273a2d1


